<% layout('templates/boilerplate.ejs') -%>

<% block('head').append('<link type="text/css" href="/foo.css"><title>Index</title>') %>

<h1>I am the template</h1>

<% block('footer').append('<script src="/bar.js"></script>') %>