h1{
   font-size:  clamp(
        4em, 2.5vw, 10em
    ) !important;
}
ul{
    padding-left: 0 !important;
}
input{
    font-size: 1.8em;
    max-width: 97%;
}
.btn{
    border-radius: 45% !important;
}
.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoTask{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}