<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h2>Create a new post</h2>
    <form method="post" action="/posts">
        <input name="userName" placeholder="Enter your user name" value="minhaz">
        <br>
        <textarea name="postContent" placeholder="Enter your post" value="empty post">

        </textarea>
        <button> Submit </button>
    </form>
</body>
</html>