<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h2><%= post.userName %> </h2>
    <br>
    <p>
        <%= post.postContent %>
    </p>
    <button><a href="/posts/<%=post.id%>/edit">Edit Post</a></button>
    <button><a href="/posts/<%=post.id%>/delete">Delete Post</a></button>
</body>
</html>